<%= turbo_frame_tag "goals_tab" do %>
    <div class="container mx-auto p-4">
      <%= render partial: "goals/tabs" %>
      <div class="relative overflow-x-auto">
        <div class="grid grid-cols-3 gap-4 text-sm text-left rtl:text-right text-gray-500 text-black">
          <div class="col-span-3 sm:col-span-1">
            <div class="text-lg text-black bg-gray-50 text-black px-6 py-3">
              Goal Name
            </div>
            <% @goals.each do |goal| %>
              <div class="bg-white dark:bg-gray-50">
                <div class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap text-black">
                  <input type="checkbox" class="mr-2" <%= "checked" if goal.completed %> disabled>
                  <%= link_to goal.title, goal_path(goal) %>
                </div>
                <hr class="border-t border-gray-200">
              </div>
            <% end %>
          </div>
              
          <div class="hidden sm:col-span-1 sm:block">
            <div class="text-lg text-black bg-gray-50 text-black px-6 py-3 text-right">
              Due Date
            </div>
            <% @goals.each do |goal| %>
              <div class="bg-white dark:bg-gray-50">
                <div class="px-6 py-4 text-right text-black">
                  <%= format_date(goal.due_date) %>
                </div>
                <hr class="border-t border-gray-200">
              </div>
            <% end %>
          </div>
    
          <div class="hidden sm:col-span-1 sm:block">
            <div class="text-lg text-black bg-gray-50 text-black px-6 py-3 text-right">
              Priority
            </div>
            <% @goals.each do |goal| %>
              <div class="bg-white dark:bg-gray-50">
                <div class="px-6 py-4 text-right text-black">
                  <%= goal.priority %>
                </div>
                <hr class="border-t border-gray-200">
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  